*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    width:100%;
    overflow-x:hidden;
}
body{
    font-family:'Poppins',sans-serif;
    background:#ffffff;
    padding-top: 70px;
}

html{
    scroll-behavior:smooth;
}
section{
    scroll-margin:80px;
}

/* ==========================================
                NAVBAR
==========================================*/

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #fff;
    padding: 0 25px;
    z-index: 9999;
    box-shadow: 0 2px 10px rgba(0,0,0,.08);
    
}

.logo img{
    height:52px;
    width:100px;
    display:block;
    background:#ffffff;
   
}

nav{
 background: #ffffff;
 margin-left: auto;
    z-index: 1000;
   
    box-shadow: 0 2px 15px rgba(0,0,0,0.08)
}

.nav-links{
    display:flex;
    list-style:none;
    gap:32px;
    align-items: center;
    width:auto;
}

.nav-links li{
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:#1F2937;
    font-weight:600;
    font-size: 16px;
    transition:.3s;
}

.nav-links a:hover{
    color:#0F3D73;
}

.menu-toggle{
    display:none;
    font-size:32px;
    cursor:pointer;
}

@media (max-width:768px){
    .reveal,
.left,
.right,
.scale{
    transform:translateY(30px);
}

    .navbar{
     
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 9999;
    box-shadow: 0 2px 10px rgba(0,0,0,.08);
    height: 70px;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .logo img{
        height:48px;
    }

    nav{
        display:flex;
        justify-content:flex-end;
        align-items:center;
    }

    .menu-toggle{
        display:block;
        font-size:34px;
        cursor:pointer;
        color:#1F2937;
    }

.nav-links{
    display:none;
    position:absolute;
    top:70px;
    bottom:-190px;
    right:0;
    width:148px;
    margin:0;
    padding:0;
    list-style:none;
    background:#fff;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    flex-direction: column;
    overflow-y:auto;
    max-height:80vh;
    -webkit-overflow-scrolling: touch;
    gap:0px;
}

    .nav-links.active{
        display:flex;
       flex-direction: column;
    }

 .nav-links li{
    margin:0;
    padding:0;
    width:100%;
}

.nav-links a{
    display:flex;
    align-items:center;
    justify-content:center;
    height:50px;
    padding:8px 15px;
    margin:0;
    line-height:1px;
    text-decoration:none;
    color:#1F2937;
    border-bottom:1px solid #eee;
}

.nav-links li:last-child a{
    border-bottom:none;
}

    .nav-links a:hover{
        background:#F8FAFC;
        color:#0F3D73;
    }
}
 


/* ==========================================
                HERO
==========================================*/
.hero{
    min-height:100vh;
    position:relative;
    display:flex;
    align-items:center;
    padding:0 8%;

    background:
    linear-gradient(
        rgba(0,0,0,.60),
        rgba(0,0,0,.60)
    ),
    url("image/image/hero-truck.jpg");

    background-size:cover;
    background-position:center;
}

.hero-content{
    max-width:650px;
    color:#fff;
    z-index:2;
    margin-top:-40px;
}

.hero-tag{
    display:inline-block;
    border:1px solid #f28c28;
    padding:12px 22px;
    border-radius:30px;
    color:#F8FAFC;
    margin-bottom:30px;
}

.hero h1{
    font-size:72px;
    line-height:1.05;
    color: #ffffff;
    font-weight:800;
}

.hero h1 span{
    color:#f2a12e
    ;
}

.hero p{
    margin-top:25px;
    font-size:22px;
    color:#f3f4f6;
    line-height:1.7;
    max-width:560px;
}

.hero-buttons{
    display:flex;
    gap:20px;
    margin-top:40px;
}

.btn-primary{
    background:#f28c28;
    color:#fff;

    padding:18px 38px;
    border-radius:10px;
    text-decoration:none;
}

.btn-secondary{
    border:2px solid #fff;
    color:#fff;
    padding:18px 38px;
    border-radius:10px;
    text-decoration:none;
}

.btn-primary:hover,
.btn-secondary:hover{
    transform:translateY(-4px);
    transition:.3s;
}

@media(max-width:768px){

.hero{
    flex-direction:column;
    text-align:center;
}

.hero-left,
.hero-right{
    width:100%;
}

.hero-right{
    margin-top:40px;
}

.hero-right img{
    width:100%;
    max-width:620px;
    animation:truckFloat 5s ease-in-out infinite;
}
@keyframes truckFloat{
    0%{transform:translateY(0);}
    50%{transform:translateY(-12px);}
    100%{transform:translateY(0);}
}

.hero-buttons{
    justify-content:center;
}

.hero-stats{
    display:flex;
    gap:20px;
    margin-top:40px;
}

.stats-section{
    background:#EEF4FF;
    padding:80px 20px;
}

.stats-section h2{
    text-align:center;
    font-size:38px;
    margin-bottom:40px;
    color:#1F2937;
}

.stats-grid{
    max-width:1100px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.stat-card{
    background:#fff;
    padding:35px 25px;
    border-radius:18px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.stat-card:hover{
    transform:translateY(-8px);
}

.stat-card i{
    font-size:42px;
    color:#2563EB;
    margin-bottom:15px;
}

.stat-card h3{
    font-size:34px;
    margin:10px 0;
    color:#1F2937;
}

.stat-card p{
    color:#6B7280;
}

@media(max-width:768px){

.stats-grid{
    grid-template-columns:repeat(2,1fr);
    gap:15px;
}

.stat-card{
    padding:25px 15px;
}

}
}

.fa-award{
 animation: awardpulse 2s ease-in-out infinite;
}

@keyframes awardpulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.15);
    }
    100%{
        transform: scale(1);
    }
}


.fa-location-dot{
    animation: pinBounce 2s ease-in-out infinite;
}

@keyframes pinBounce{
    0%,100%{transform:translateY(0);}
    50%{transform:translateY(-3px);}
}
.fa-map-location-dot{
    animation: mappulse 2s infinite;
}

@keyframes mappulse{
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(0.9);
    }
    100%{
        transform:scale(1);
    }
}
.fa-clock{
    animation: clockRotate 30s linear infinite;
}

@keyframes clockRotate{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

@keyframes truckFloat{
    0%{transform:translateY(0);}
    50%{transform:translateY(-12px);}
    100%{transform:translateY(0);}
}

.hero-buttons{
    justify-content:center;
}

.hero-stats{
    display:flex;
    gap:20px;
    margin-top:40px;
}

.stats-section{
    background:#EEF4FF;
    padding:80px 20px;
}

.stats-section h2{
    text-align:center;
    font-size:38px;
    margin-bottom:40px;
    color:#1F2937;
}

.stats-grid{
    max-width:1100px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.stat-card{
    background:#fff;
    padding:35px 25px;
    border-radius:18px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.stat-card:hover{
    transform:translateY(-8px);
}

.stat-card i{
    font-size:42px;
    color:#2563EB;
    margin-bottom:15px;
}

.stat-card h3{
    font-size:34px;
    margin:10px 0;
    color:#1F2937;
}

.stat-card p{
    color:#6B7280;
}

@media(max-width:768px){

.stats-grid{
    grid-template-columns:repeat(2,1fr);
    gap:15px;
}

.stat-card{
    padding:25px 15px;
}

}

/* ==========================
        SERVICES
========================== */

.services{

    padding:100px 60px;
    background:#EEF4FF;

}
.title-line{
    width:80px;
    height:5px;
    background:#0F3D73;
    border-radius:10px;
    margin:18px auto 25px;
}
.section-title{
    font-size:48px;
    font-weight:700;
    color:#0F172A;
    text-align:center;
    position:relative;
    line-height: 1.8;
    margin: 20px auto 60px;
    margin-bottom:15px;
}

.section-title::after{
    content:"";
    width:80px;
    height:4px;
    background:#0F3D73;
    display:block;
    margin:12px auto 0;
    border-radius:10px;
}

.order-title{
    font-size:20px;
    color:#6B7280;
    font-weight:600;
    font-family:'Poppins', sans-serif;
    line-height:1.8;
    margin:12px auto 25px;
    max-width:650px;
    text-align:center;
}

.order-title::after{
    content:"";
    display:block;
    width:80px;
    height:4px;
    background:#0F3D73;
    margin:15px auto 0;
    border-radius:10px;
}

.strength-title::after{
    background: #f97136;
}



.service-grid{

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;

}

.service-card{

    background:#fff;
    border-radius:18px;
    padding:40px 30px;
    text-align:center;
    border:1px solid #E5E7EB;
    transition:.3s;

}

.service-card:hover{

    transform:translateY(-10px);
    box-shadow:0 20px 40px rgba(0,0,0,.08);

}

.service-icon{

    width:80px;
    height:80px;

    margin:0 auto 25px;

    background:#FFF4EB;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;

}

.service-icon i{

    font-size:36px;
    color:#0F3D73;
    

}

.service-card h3{

    color:#1F2937;
    margin-bottom:15px;
    font-size:24px;

}

.service-card p{

    color:#666;
    line-height:1.8;

}

@media(max-width:768px){


.service-grid{
    grid-template-columns:1fr;
    gap:20px;
}
.service-card{
    width:100%;
}


}

/* ==========================
    What Sets STTS Apart
========================== */

.difference{
    padding:100px 60px;
    background:#F8FAFC;
}

.difference-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
    margin-top:60px;
}

.difference-card{
    background:#fff;
    padding:35px;
    border-radius:18px;
    border:1px solid #E5E7EB;
    transition:.3s;
    position:relative;
    overflow:hidden;
}

.difference-card:hover{
    transform:translateY(-8px);
    box-shadow:0 18px 40px rgba(0,0,0,.08);
}

.number{
    font-size:60px;
    font-weight:700;
    color:#0F3D73;
    opacity:.15;
    margin-bottom:10px;
}

.difference-card h3{
    font-size:24px;
    color:#1F2937;
    margin-bottom:15px;
}

.difference-card p{
    color:#666;
    line-height:1.8;
}
@media(max-width:768px){

.difference-grid{
    grid-template-columns:1fr;
    gap:20px;
}
}

/* ==========================
     FLEET SOLUTIONS
========================== */

.fleet-solutions{
    padding:100px 60px;
    background:#EEF4FF;
}

.fleet-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
    margin-top:40px;
}

.fleet-card{
    background:#FFFFFF;
    border:1px solid #E5E7EB;
    border-radius:18px;
    padding:40px 30px;
    transition:0.3s ease;
    box-shadow:0 8px 20px rgba(0,0,0,0.05);
}

.fleet-card:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 40px rgba(0,0,0,0.10);
}

.fleet-card h3{
    font-size:28px;
    color:#1F2937;
    margin-bottom:18px;
}

.fleet-card p{
    font-size:16px;
    color:#666;
    line-height:1.8;
    margin-bottom:25px;
}

.fleet-card ul{
    list-style:none;
    padding:0;
}

.fleet-card ul li{
    display:flex;
    align-items:center;
    gap:10px;
    padding:12px 0;
    border-bottom:1px solid #E5E7EB;
    color:#444;
    font-size:16px;
}

.fleet-card ul li:last-child{
    border-bottom:none;
}

.fleet-card ul li i{
    color:#0F3D73;
    font-size:15px;
}
.section-title{
    text-align:center;
    max-width:700px;
    margin:0 auto 60px;
}

.section-title h2{
    font-size:42px;
    color:#1F2937;
    font-weight:700;
    margin-bottom:15px;
}

.section-title p{
    font-size:18px;
    color:#6B7280;
    line-height:1.8;
}
.section-title h2::after{
        content:"";
    display:block;
    width:0;
    height:4px;
    background:#0F3D73;
    margin:15px auto;
    transition:.6s;
}
.show .section-title h2::after{
    width:80px;
}
 @media(max-width:768px){

.fleet-grid{
    grid-template-columns:1fr;
    gap:20px;
}

.fleet-card{
    width:100%;
}

@media (max-width:768px){

.fleet-container{
    display:grid;
    grid-template-columns:1fr;
    gap:20px;
}

.fleet-card{
    width:100%;
}

}

@media(max-width:768px){

.section-title h2{
    font-size:30px;
}

.section-title p{
    font-size:16px;
}

}
}

/* ==========================
     Built for Every Industries
========================== */

.industries{
    padding:100px 60px;
    background:#ffffff;
}

.industry-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
    margin-top:60px;
}

.industry-card{
    background:#F8FAFC;
    padding:35px;
    border-radius:18px;
    text-align:center;
    border:1px solid #E5E7EB;
    transition:.3s ease;
}

.industry-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.08);
}

.industry-card i{
    font-size:42px;
    color:#0F3D73;
    margin-bottom:20px;
}

.industry-card h3{
    font-size:24px;
    color:#1F2937;
    margin-bottom:15px;
}

.industry-card p{
    color:#666;
    line-height:1.7;
    font-size:16px;
} 
@media(max-width:768px){

.industry-grid{
    grid-template-columns:1fr;
    gap:20px;
}

}


/* ==========================
        ABOUT STTS
========================== */

.about{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:50px;
    align-items:center;
    padding:100px 60px;
}

.section-tag{
    color:#171b20;
    font-size:18px;
    font-weight:700;
    letter-spacing:2px;
    text-transform:uppercase;
    margin-bottom:10px;

}

.section-line{
    width:80px;
    height:5px;
    background: #0F3D73;
    border-radius:10px;
    margin-bottom:25px;
}

.about-image img{
    width:100%;
    height:520px;
    object-fit:cover;
    border-radius:20px;
}

.about-content h2{
    font-size:48px;
}

.about-content p{
    max-width:550px;
    line-height:1.9;
}

.about-features{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    margin-bottom:40px;
    margin:30px 0;
}

.feature{
    display:flex;
    align-items:center;
    gap:25px;
    font-weight:500;
    color:#374151;
}

.feature i{
    color:#0F3D73;
    font-size:20px;
}

.about button{
    padding:15px 35px;
    background:#0F3D73;
    color:#fff;
    border:none;
    border-radius:8px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.about button:hover{
    background:#0F3D73;
    transform:translateY(-3px);
}

@media(max-width:992px){

    .about{
        grid-template-columns:1fr;
        padding:80px 30px;
    }

    .about-features{
        grid-template-columns:1fr;
        margin:30px 0;
    }

    .about-content h2{
        font-size:34px;
    }

}

/* ==========================
      QUOTE SECTION
========================== */

.quote{
    padding:100px 60px;
    background:
    linear-gradient(rgba(238,244,255,.75), rgba(238,244,255,.75)),
    url("image/image/warehouse-background.jpg");

    background-size: cover;
    background-position: center;
   
}

.quote-container{
    max-width:750px;
    margin:50px auto 0;
    background:#fff;
    padding:40px;
    border-radius:20px;
    box-shadow:0 25px 60px rgba(0,0,0,.25);
}

.quote-form{
    display:flex;
    flex-direction:column;
    gap:25px;
    max-width:700px;
    margin:auto;
    background:#fff;
    border-radius:24px;
    padding:40px;
    box-shadow:0 20px 50px rgba(0,0,0,.20);
}


.input-group{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.quote-form input,
.quote-form select,
.quote-form textarea{

    width:100%;
    padding:18px;
    border:1px solid #E5E7EB;
    border-radius:10px;
    font-size:16px;
    outline:none;
    transition:.3s;
    margin-bottom:18px;
    height:55px;
}

.quote-form input:focus,
.quote-form select:focus,
.quote-form textarea:focus{

    border-color:#0F3D73;
}
  
.quote-form textarea{
    resize:none;
}
.quote-form button:hover{
    background:#0F3D73;
    transform:translateY(-3px);
}

.quote{
    background:
    linear-gradient(rgba(15,61,115,.65),
    rgba(15,61,115,.65)),
    url("image/image/warehouse-background.jpg");

    background-size:cover;
    background-position:center;
    min-height:100vh;
    padding:100px 20px;
}
.quote-section{
        background:
        linear-gradient(rgba(15,61,115,65),
        rgba(15,61,115,65)),
        url("image/image/warehouse-background.jpg");

        padding:100px 20px;
        min-height:100vh;
    }

    .quote h2{
        color:#fff;
        font-size:48px;
    }

    .quote p{
        color:#e5e7eb;
    }

    .quote-btn{
    width:100%;
    height:55px;
    background:linear-gradient(90deg,#0F3D73,#2563EB);
    color:#fff;
    border:none;
    border-radius:50px;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
    transition:.3s ease;
    box-shadow:0 10px 25px rgba(37,99,235,.25);
}

.quote-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 15px 35px rgba(37,99,235,.35);
    background:linear-gradient(90deg,#2563EB,#0F3D73);
}

.quote-btn:active{
    transform:scale(.98);
}
@media(max-width:768px){

.input-group{
    grid-template-columns:1fr;
}

.quote-form button{
    width:100%;
}

}


/* ==========================
        CONTACT STTS
========================== */

.contact{
    padding:100px 60px;
    background:#F8FAFC;

}

.contact .section-title{
    text-align:center;
    margin-bottom:60px;
}

.contact .section-title h2{
    font-size:38px;
    color:#0F172A;
    margin-bottom:15px;
}

.contact .section-title p{
    color:#64748B;
    font-size:17px;
}

.contact-container{
    max-width:400px;
    margin:100px auto;
    display:flex;
    grid-template-columns:repeat(2,1fr);
    gap:40px;
}

.contact-info{
    background:#fff;
    padding:40px;
    border-radius:18px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.contact-info h3{
    color:#0F172A;
    margin-bottom:30px;
    font-size:28px;
}

.contact-item{
    display:flex;
    align-items:flex-start;
    gap:18px;
    margin-bottom:30px;
}

.contact-item i{
    color:#0F3D73;
    font-size:24px;
    min-width:30px;
}

.contact-item h4{
    margin-bottom:8px;
    color:#0F172A;
}

.contact-item p{
    color:#64748B;
    line-height:1.7;
}

.contact-buttons{
    display:flex;
    gap:20px;
    margin-top:30px;
}

.contact-buttons a{
    padding:14px 28px;
    text-decoration:none;
    border-radius:8px;
    font-weight:600;
    transition:.3s;
}

.call-btn{
    background:#0F3D73;
    color:#fff;
}

.call-btn:hover{
    background:#0F3D73;
}

.whatsapp-btn{
    background:#25D366;
    color:#fff;
}

.whatsapp-btn:hover{
    background:#1EBE5A;
}
@media(max-width:768px){

.contact-container{
    grid-template-columns:1fr;
}

.contact-buttons{
    flex-direction:column;
}

.contact-buttons a{
    width:100%;
    text-align:center;
}

}


/* ==========================
          FOOTER
========================== */

.footer{
    background:#0F172A;
    color:#fff;
    padding:70px 60px 25px;
}

.footer-container{
    max-width:1200px;
    margin:auto;
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1fr;
    gap:40px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.footer-box h2{
    font-size:30px;
    margin-bottom:20px;
}

.footer-box h3{
    margin-bottom:20px;
    font-size:22px;
}

.footer-box p{
    color:#CBD5E1;
    line-height:1.8;
}

.footer-box a{
    display:block;
    color:#CBD5E1;
    text-decoration:none;
    margin-bottom:12px;
    transition:.3s;
}

.footer-contact a,
.footer-contact a:visited,
.footer-contact a:link{
    color: #CBD5E1 !important;
    text-decoration: none;
}

.footer-box a:hover{
    color:#CBD5E1;
    padding-left:6px;
}

.footer-contact{
    display:flex;
    align-items:center;
    gap:10px;
      justify-content:center;
    margin-bottom:14px;
    color:#CBD5E1;
}

.footer-contact i{
    color:#CBD5E1;
}

.footer-bottom{
    border-top:1px solid rgba(255,255,255,.1);
    margin-top:50px;
    padding-top:25px;
    text-align:center;
    color:#94A3B8;
    font-size:15px;
}

.footer-logo{
    font-size: 48px;
    font-weight: 800;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.footer-company{
    font-size: 16px;
    font-weight: 500;
    color: #cbd5e1;
    margin-bottom: 20px;
}

.footer-text{
    font-size: 15px;
    line-height: 1.8;
    color: #94a3b8;
    max-width: 320px;
}
@media (max-width:768px){

.footer-brand{
    text-align:center;
}

.footer-logo{
    font-size:42px;
    font-weight:800px;
    letter-spacing:2px;
    margin-bottom:8px;
}
.footer-contact{
    justify-content: center;
}

.footer-company{
    font-size:16px;
    font-weight:500;
    color:#cbd5e1;
    margin-bottom:18px;
}

.footer-text{
    font-size:15px;
    line-height:1.8;
    color:#cbd5e1;
    max-width:320px;
    margin:0 auto 30px;
}

.footer-links,
.footer-services,
.footer-contact{
    text-align:center;
    margin-top:35px;
}

.footer-links h3,
.footer-services h3,
.footer-contact h3{
    margin-bottom:15px;
}



/* ==========================================
        MOBILE RESPONSIVE
==========================================*/

@media (max-width:768px){

/* Hero */

.hero{
    height:auto;
    padding:120px 20px 70px;
}

.hero-text{
    max-width:100%;
}

.hero h1{
    font-size:34px;
    
}

.hero p{
    font-size:16px;
}

button{
    width:100%;
    margin-bottom:15px;
}

/* Statistics */

.stats{
    grid-template-columns:repeat(2,1fr);
    gap:15px;
    padding:50px 20px;
}

.stat-card{
    padding:25px 15px;
}

.stat-card h2{
    font-size:30px;
}

.stat-card p{
    font-size:15px;
}

/* Services */

.services{
    padding:70px 20px;
}

.service-grid{
    grid-template-columns:1fr;
    gap:20px;
}

/* Difference */

.difference{
    padding:70px 20px;
}

.difference-grid{
    grid-template-columns:1fr;
}

/* Fleet */

.fleet-solutions{
    padding:70px 20px;
}

.fleet-grid{
    grid-template-columns:1fr;
    gap:20px;
}

/* Industries */

.industries{
    padding:70px 20px;
}

.industry-grid{
    grid-template-columns:1fr;
}

/* About */

.about{
    grid-template-columns:1fr;
    padding:70px 20px;
}

.about-image img{
    height:320px;
}

.about-features{
    grid-template-columns:1fr;
}

/* Quote */

.quote{
    padding:70px 20px;
}

.quote-container{
    padding:30px 20px;
}

.input-group{
    grid-template-columns:1fr;
}

.quote-form button{
    width:100%;
}

/* Contact */

.contact{
    padding:70px 20px;
}

.contact-container{
    grid-template-columns:1fr;
}

.contact-buttons{
    flex-direction:column;
}


.contact-buttons a{
    width:100%;
    text-align:center;
}

/* Footer */

.footer{
    padding:60px 20px;
}

.footer-container{
    grid-template-columns:1fr;
    text-align:center;
   
}
}


}

.hidden{
    opacity:0;
    transform:translateY(40px);
    transition:all .8s ease;
}
.hidden-left{
    opacity:0;
    transform:translateX(-80px);
    transition:all .8s ease;
}

.hidden-right{
    opacity:0;
    transform:translateX(80px);
    transition:all .8s ease;
}

.show{
    opacity:1;
    transform:translateY(0);
}

.service-card,
.difference-card,
.fleet-card,
.industry-card{
    transition:.4s ease;
}

.service-card:hover,
.difference-card:hover,
.fleet-card:hover,
.industry-card:hover{
    transform:translateY(-12px) rotate(-1deg);
}
.reveal{
    opacity:0;
    transform:translateY(40px);
    transition:
        opacity .8s ease,
        transform .8s ease;
    will-change:transform, opacity;
}

.reveal.show{
    opacity:1;
    transform:translateY(0);
}

.left{
    transform:translateX(-60px);
}

.right{
    transform:translateX(60px);
}

.scale{
    transform:scale(.9);
}

.reveal.show.left,
.reveal.show.right,
.reveal.show.scale{
    transform:none;
}

